:root {
  --bg: #fffffe;
  --second: #e3f6f5;
  --judul: #272343;
  --p: #2d334a;
  --p2: #bae8e8;
  --button: #ffd803;
  --buttonText: #272343;
  --footer: #e16162;
}

#mainMenu {
  position: relative;
  display: grid;
  place-items: center;
  padding: 20px;
}

.opsiMenu {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: tomato;
  margin-bottom: 1rem;
}

.opsiMenu a {
  font-size: 20px;
  color: var(--bg);
  text-decoration: none;
}

.pilihanMenu {
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  width: 50rem;
  background-color: red;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 25%;
  height: 25rem;
  margin: 0 auto 20px 50px;
  background-color: crimson;
}

.menu img {
  width: 12rem;
}

.menu p {
  margin: auto 20px;
}

.menu button {
  width: 30px;
}

.menu div {
  display: flex;
}

/* Responsive */

/* Tablet */
@media screen and (max-width: 768px) {
  .opsiMenu a {
    font-size: 18px;
  }

  .pilihanMenu {
    width: 350rem;
  }
}

/* Mobile */
@media screen and (max-width: 480px) {
  .pilihanMenu {
    width: 20rem;
  }
  .menu {
    margin-bottom: 20px;
  }
}
