:root {
  --bg: #fffffe;
  --second: #e3f6f5;
  --judul: #272343;
  --p: #2d334a;
  --p2: #bae8e8;
  --button: #ffd803;
  --buttonText: #272343;
  --footer: #e16162;
}

#mainMenu {
  display: grid;
  place-items: center;
  width: 100%;
  background-color: yellow;
  overflow-x: hidden;
}

.opsiMenu {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: tomato;
  margin-bottom: 1rem;
}

.opsiMenu a {
  font-size: 20px;
  color: var(--bg);
  text-decoration: none;
  cursor: pointer;
}

.pilihanMenu {
  display: flex;
}

.pilihanMakanan {
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
  width: 90%;
  background-color: black;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.pilihanMakanan.show {
  transform: translateX(-110%);
  -webkit-transform: translateX(-110%);
  -moz-transform: translateX(-110%);
  -ms-transform: translateX(-110%);
  -o-transform: translateX(-110%);
}

.pilihanMinuman {
  background-color: blue;
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
  width: 90%;
  transition: all 0.5s;
  transform: translate(110%, -101%);
  -webkit-transform: translate(110%, -101%);
  -moz-transform: translate(110%, -101%);
  -ms-transform: translate(110%, -101%);
  -o-transform: translate(110%, -101%);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.pilihanMinuman.show {
  transform: translate(0, -101%);
  -webkit-transform: translate(0, -101%);
  -moz-transform: translate(0, -101%);
  -ms-transform: translate(0, -101%);
  -o-transform: translate(0, -101%);
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 22.5%;
  height: 28rem;
  margin: 0 20px 50px 20px;
  background-color: crimson;
}

.menu img {
  width: 12rem;
}

.menu p {
  margin: auto 20px;
}

.menu button {
  width: 30px;
}

.menu div {
  margin: 20px auto 20px auto;
  display: flex;
}

.menu a {
  padding: 10px;
  text-decoration: none;
  border-radius: 20px;
  background-color: var(--button);
  color: var(--buttonText);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

/* Responsive */

/* Tablet */
@media screen and (max-width: 768px) {
  .menu {
    width: 25.5%;
  }
}

/* Mobile */
@media screen and (max-width: 480px) {
  .menu {
    width: 80%;
  }

  .pilihanMinuman {
    margin-top: 10px;
  }
}