:root {
  --bg: #fffffe;
  --second: #e3f6f5;
  --judul: #272343;
  --p: #2d334a;
  --p2: #bae8e8;
  --button: #ffd803;
  --buttonText: #272343;
  --footer: #e16162;
}

#mainMenu {
  position: relative;
  display: grid;
  place-items: center;
  padding: 20px;
}

.opsiMenu {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.opsiMenu a {
  font-size: 20px;
  color: var(--bg);
  text-decoration: none;
}

.pilihanMenu {}

.menu {
  display: flex;
}

.menu img {
  width: 50px;
}

/* Responsive */

/* Tablet */
@media screen and (max-width: 768px) {
  #mainMenu {}

  .opsiMenu a {
    font-size: 18px;
  }
}

/* Mobile */
@media screen and (max-width: 480px) {}